@font-face {
  font-family:"Ankh Sanctuar";
  src: url("AnkhSanctuary-nROx4.ttf") format("truetype");
}
tittle{
    background-color: rgb(255,127,0);
}
div, iframe {
    width: 640px;
    height: 360px;
    margin: 0 auto;
    background-color: #777;
    text-align: center
}

iframe {
    display: block;
    border-style:none;
}

h1, h2, p, tittle{
  text-align: center;
  font-family:"Ankh Sanctuar";
  color: LightBlue;
}


img, a {
  color: white;
  margin: auto;
  padding: auto;
}

#history_Pic{
text-align: left;
}

/* list */ 
ul, li{
  text-align: center;
  color: LightBlue;
  list-style-position: inside;
  font-family:"Ankh Sanctuar";
}

a :hover{
  color: green;
}

a :active{
  color: red
}

body{
  background-image: url(https://i.imgur.com/CuTxN19.jpg);
  text-weight: 6400 px;
  text-height: 3600 px;
}

.image{
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-weight: 150 px;
  text-height: 150 px; 
}

