h1, h2, p, ul, li, img {
  text-align: center;
  font-family: sans-serif;
  
}

body{
  background-image: url(https://i.imgur.com/JyaqLU4.jpg);
  text-weight: 500 px;
}

h1, h2, p, ul{
  color: white;
}
