h1, h2, p, img, a {
  text-align: center;
  font-family: sans-serif;
  color: white;
}

ul, li{
  text-align: center;
  font-family: sans-serif;
  color: white;
  list-style-position: inside;
}

a:visited{
  color:orange;
}

body{
  background-image: url(https://i.imgur.com/CuTxN19.jpg);
  text-weight: 500 px;
}

.image{
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 25 %;
}

